.card-container {

    display: flex;
    flex-direction: column;
    background-color: aqua;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translate(0);
    transition: transform 0.15s ease-out;
}

.card-container:hover{
    transform: scale(1.05);
}